    body {
        background-color: #C2C2C2;
        font-family: Georgia, 'Times New Roman', Times, Times New Roman, serif;
        min-height: 100vh;
        position: relative;
        margin: 0;
    }

    p {
            color: rgb(126, 126, 126);
            line-height: 1.5;
            font-size: 18px
    }

    label {
        /* font-weight: 300; */
        font-size: 20px;
    }

    footer {
        text-align: center;
        height: 70px;
        width: 100%;
        background-color: rgb(53, 50, 50);
        color: white;
        border-top: 5px solid #4aaaa5;
        margin-top: 5%;
    }

    .main-navbar {
        background-color: white;
    }
    .main-content {
        min-height: calc(100vh - 70px);
    }

    .nav-name {
        background-color: #4aaaa5;
        color: #ffffff;
        font-size: 26px;
    }

    .btn {
        background-color: #4aaaa5;
        border-color: #4aaaa5
    }

    .card-title {
        position: absolute;
        bottom: 15px;
        width: 100%;
        padding: 20px;
        text-align: center;
        font-size: 26px;
        background-color: #4aaaa5;

    }

    .title {
        color: #4aaaa5;
    }

